#img1 {
  width: 140px;
  height: 660px;
  position: relative;
}

#img2 {
  width: 1903px;
  height: 660px;
  position: relative;
}

#img3 {
  width: 1903px;
  height: 660px;
  position: relative;
}
